@{
    ViewData["Title"] = "Home Page";
    // 1. Dichiarare una variabile valorizzandola con il nostro nome.
    // Dichiarare un'altra variabile valorizzandola con il nostro cognome.
    // Stampare il nostro nome e cognome all'interno di un tag h2.
    string myName = "Luigi";
    string mySurname = "Tarallo";

    // 2.Creare una funzione che stampa la somma dei numeri che vanno da 1 a n(con n passato come parametro -n incluso)
    // Stampare dentro uno span il risultato.
    int SommaNumeri(int numero)
    {
        int sum = 0;
        for (int i = 1; i <= numero; i++)
        {
            sum += i;
        }
        return sum;
    }

    // 3.Contare quante volte la lettera a è presente nalla frase
    // "nel mezzo del cammin di nostra vita"
    // e stampare questo valore in pagina
    int numberOfa = 0;
    string phrase = "nel mezzo del cammin di nostra vita";
    for (int i = 0; i <= phrase.Length - 1; i++)
    {
        if (phrase[i] == 'a')
        {
            numberOfa++;
        }
    }
    // 4.Creare una List<int> di 20 numeri interi(generati random da 1 a 90, 1 e 90 inclusi)
    // e mostrare in pagina solo i numeri compresi tra 20 e 70
    List<int> numberList = new List<int>();
    Random random = new Random();
    for (int i = 0; i < 20; i++)
    {
        int randomNumber = random.Next(1, 91);
        numberList.Add(randomNumber);
    }

    // 5.Stampare in pagina la data e l'ora attuale (usando la classe DateTime)
    // con il formato anno-mese-giorno ore:minuti:secondi
    string currentDateTime = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");

    // 6.Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina
    // a. la data di 7 giorni fa
    // b. che giorno della settimana è oggi (il risultato dovrà  essere il nome del giorno (Lunedì, Martedì, ...)
    // c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno
    // (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)

    // 6a
    DateTime sevenDaysAgo = DateTime.Now.AddDays(-7).Date;
    // 6b
    string todayDayOfWeek = DateTime.Now.ToString("dddd");
    // 6c
    DateTime nextYearSameDay = DateTime.Now.AddYears(1);
    string nextYearSameDayOfWeek = nextYearSameDay.ToString("dddd");
}

<div class="text-center">
    <h3 class="text-muted">Esercizio 1</h3>
    <h2 class="text-primary">Signor @myName @mySurname</h2>

    <h3 class="text-muted">Esercizio 2</h3>
    <span>@SommaNumeri(4)</span>

    <h3 class="text-muted">Esercizio 3</h3>
    <p>La lettera "a" nella frase "nel mezzo del cammin di nostra vita" compare <span class="text-success">@numberOfa</span> volte</p>

    <h3 class="text-muted">Esercizio 4</h3>
    @{
        foreach (int number in numberList)
        {
            if (number >= 20 && number <= 70)
            {
                <span class="text-danger">@number</span>
            }
        }
    }
    <h3 class="text-muted">Esercizio 5</h3>
    <span>
        Data e ora attuali: <span class="text-info">@currentDateTime</span>
    </span>

    <h3 class="text-muted">Esercizio 6</h3>
    <p>La data di sette giorni fa era: <span class="text-info">@sevenDaysAgo.ToString("yyyy-MM-dd")</span></p>
    <p>Oggi è: <span class="text-info">@todayDayOfWeek</span></p>
    <p>Tra un anno, il giorno della settimana sarà: <span class="text-info">@nextYearSameDayOfWeek</span></p>
</div>
